.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#legend {
  position: absolute;
  bottom: 0;
}

#authors {
  position: absolute;
  right: 0;
  bottom: 0;
}

#title {
  text-align: center;
  height: 10vh;
}

#title > div {
  display: flex;
  align-self: center;
  justify-content: center;
}

#description {
  background-color: white;
  position: absolute;
  margin-left: 1vw;
  padding: 1vw;
  width: 30%;
  border: solid 1px gray;
}

#controls {
  background-color: white;
  position: absolute;
  margin-right: 1vw;
  padding: 1vw;
  width: 30%;
  right: 0;
}

#tooltip {
  visibility: hidden;
}

.react-numeric-input {
  width: 100%;
}

#numeric {
  width: 100%;
}

@media (max-width: 600px) {
  #tmp > #description, #tmp > #legend {
    display: none;
    color: #ffffff !important;
  }

  #controls {
    z-index: 100;
    width: calc(100% - 30px) !important;
    margin: 10vh 15px 0 15px;
  }

  #legend {
    position: relative;
  }

  #legend span {
    color: #fff;
  }

  #legend div {
    padding: unset;
    text-align: left;
  }

  #legend svg {
    position: relative;
    margin-left: 0;
  }

  #tooltip {
    visibility: unset;
    background-color: slategrey;
    color: #ffffff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-top: 22px;
    margin-left: 10px;
  }

  #tooltip-body {
    max-width: 200px;
  }
}
